body {
  margin: 0px;
  background-color: whitesmoke;
  padding-left: 40px;
  padding-right: 80px;
}

.header{
    padding: 40px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    border-bottom: 1px solid gray;
    width: 100%;
}


.diagram {
  height: 400px;
  width: 600px;
  border: 1px solid grey;
}


.column {
  width: 50%;
}


@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

 .row {
    display: flex;
    flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}