.header{
    padding: 80px;
    text-align: center;
    background: darkkhaki;
    color: black;
    font-size: 30px;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
}



.sidenav {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: darkkhaki; 
    overflow-x: hidden; 
    padding-top: 60px;
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
 
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  